将user和user-item连接
做格式上的处理（还未实现）

In [1]:
import gc
from pathlib import Path
import pandas as pd
import numpy as np
from time import time
import matplotlib.pyplot as plt
pd.set_option('expand_frame_repr', False)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 1000)
pd.set_option('max_colwidth', 200)

In [4]:
st = time()
user_df = pd.read_pickle('~/data/user.pkl')
ui_df = pd.read_pickle('~/data/user_item.pkl')
ed = time()
print(f'read {ed - st: .2f}s')

read  5.96s

In [ ]:
data = ui_df.merge(user_df, how='left', on='userId')

In [15]:
data.head()

       userId     itemId                showTime network refresh showPos click duration deviceName       OS province city  0-24  25-29  30-39  40-  female  male
0  1000014754  463510256 2021-06-28 01:29:16.147       5       0      16     0        0   DVC-AN20  Android       江西   南昌  0.01   0.04   0.29 0.66    0.36  0.64
1  1000014754  463852707 2021-06-28 01:29:16.147       5       0      13     1       80   DVC-AN20  Android       江西   南昌  0.01   0.04   0.29 0.66    0.36  0.64
2  1000014754  464757134 2021-06-30 11:36:39.841       5       0      13     1     1050   DVC-AN20  Android       江西   南昌  0.01   0.04   0.29 0.66    0.36  0.64
3  1000014754  464617167 2021-06-30 11:36:39.841       5       0      16     1      286   DVC-AN20  Android       江西   南昌  0.01   0.04   0.29 0.66    0.36  0.64
4  1000014754  465426190 2021-07-04 07:07:01.168       5       0       5     0        0   DVC-AN20  Android       江西   南昌  0.01   0.04   0.29 0.66    0.36  0.64

In [16]:
print(user_df.userId.nunique(), ui_df.userId.nunique(), data.userId.nunique())

1538384 1478694 1478694

In [14]:
print(user_df.shape, ui_df.shape, data.shape)

(1538384, 11) (189766959, 8) (189766959, 18)